In [1]:
import pandas as pd
import os

In [2]:
# inputs
youtube_handle = 'CNBCtelevision'
main_dir = youtube_handle
ner_mapped = "mapped_gemma"
parent_dir = os.path.dirname(os.getcwd())

In [3]:
df_1 = pd.DataFrame()
for filename in os.listdir(os.path.join(main_dir, ner_mapped)):

    df_new = pd.read_csv(os.path.join(main_dir, ner_mapped, filename))
    df_new = df_new.loc[pd.notnull(df_new['Company_name_mapped'])]
    df_1  = pd.concat([df_1, df_new], axis=0)

df_1 ['u3_num'] = df_1 ['u3_num'].astype(int).astype(str)

In [4]:
df_4 = pd.read_csv(os.path.join(parent_dir, "channel_scraper",  f'{main_dir}.csv'))
df_3 = pd.read_csv(os.path.join(parent_dir, "channel_scraper",  f'{main_dir}_DB.csv'))
df_3['date_published'] = pd.to_datetime(df_3['date_published'])
print(f"Total videos: {len(df_3)}/{len(df_4)} ({round(len(df_3)/len(df_4)*100, 2)}%) with transcripts ({main_dir}) .")
df_3.groupby(df_3.date_published.dt.year)['vid_id'].count()

Total videos: 104713/113630 (92.15%) with transcripts (CNBCtelevision) .

date_published
2018    10461
2019    18032
2020    18211
2021    19115
2022    18115
2023    16649
2024     4130
Name: vid_id, dtype: int64

In [5]:
df_merged = pd.merge(left=df_1, right=df_3[['vid_id', 'title', 'date_published']], on='vid_id')
df_merged['date_published'] = df_merged['date_published'].dt.strftime('%Y-%m-%d')
df_merged = df_merged.drop(['company_found_gemma'], axis=1)

In [6]:
df_merged['youtube_channel_handle'] = youtube_handle
df_merged = df_merged.drop_duplicates(subset=['vid_id', 'u3_num'])

In [9]:
df_merged.to_csv(f"search_results_{youtube_handle}.csv", index=False)

In [8]:
# how many belonging to the 5 focal firms?

u3_ids = ['31689','27053', '27465', '34793', '204165']
#u3_ids = ['28390']
u3_ids = ['34793']
#names = ['SVB', 'AA', 'Ford', 'NYCB', 'Wework']

df_1.loc[df_1['u3_num'].isin(u3_ids)]

,vid_id,company_found_gemma,Company_name_mapped,u3_num
35,qh5zPQF1UZA,New York Community Bank - Banking,New York Community Bancorp Inc,34793
0,CrkgudKosV8,New York Community Bank Corp. (Commercial Real...,New York Community Bancorp Inc,34793
10,NV706m6p3Zk,New York Community Bank (NYCB) - Community Bank,New York Community Bancorp Inc,34793
7,TsPcptwElQc,New York Community Bankorp - Banking,New York Community Bancorp Inc,34793
18,3pSfXdw1WrM,New York Community Bancorp (Community Bank) - ...,New York Community Bancorp Inc,34793
...,...,...,...,...
43,AIrVqxWYI9M,NYCB New York Community Bank (Community bank),New York Community Bancorp Inc,34793
20,XaV15IGO0vI,New York Community Bank (Financial Services),New York Community Bancorp Inc,34793
12,c_86OVKnD3c,New York Community Bank - Banking,New York Community Bancorp Inc,34793
1,OR_n-S8hzHs,New York Community Bank (Banking),New York Community Bancorp Inc,34793
7,TTRFNTUCMBc,New York Community Bank (Financial Services),New York Community Bancorp Inc,34793